<h2>ROUTER</h2>
cf menu.component
<ul>
  <li>
    <a [routerLink]="['/components']">Composants (challenge)</a>
    composants
  </li>
  <li>
    <a [routerLink]="['/directives-cours']">Directives (cours)</a>
    directives-cours
  </li>
  <li>
    <a [routerLink]="['/directives-challenge']">Directives (challenge)</a>
    directives-quest
  </li>
  <li>
    <a [routerLink]="['/user']">Binding (challenge)</a>
    user-profile
  </li>
  <li>
    <a [routerLink]="['/form-templates-driven']"
      >Form Templates Driven (cours)</a
    >
    form-templates-driven
  </li>
  <li>
    <a [routerLink]="['/sign-up']">Form Templates Driven (challenge)</a>
    sign-up
  </li>
  <li>
    <a [routerLink]="['/input-cours']">Input (cours)</a>
    Kitchen
  </li>
  <li>
    <a [routerLink]="['/developer']">Input (challenge)</a>
    Developer
  </li>
  <li>
    <a [routerLink]="['/onomatopias']">Output (challenge)</a>
    Onomatopia
  </li>
  <li>
    <a [routerLink]="['/kittens']"> Les interactions utilisateur (challenge)</a>
    kittens
  </li>
  <li>
    <a [routerLink]="['/article-list']">Articles (Live Coding)</a> LES ROUTES ID
  </li>
  <li>
    <a [routerLink]="['/cocktail']">Les Services (challenge)</a> CocktailService / Cocktail-list
  </li>
  <li>
    <a [routerLink]="['/cocktail-two']">Les Services le retour (challenge)</a> CocktailTwoService / Cocktail-list02
  </li>
  <li>
    <a [routerLink]="['/button']">Buttons states (challenge)</a> button / button-racine
  </li>
</ul>
